<!DOCTYPE html>
<html>
<head>
	<!-- *******  Link To CSS Style Sheet  ******* -->
	<link rel="stylesheet" type="text/css" href="/css/MainContact.css">

	<!-- *******  Font Awesome Icons Link  ******* -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>

	<!-- *******  Link To Goggle Fonts  *******  -->
	<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,800;1,900&display=swap" rel="stylesheet">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>ATWAP</title>
	
     
</head>
<body>
	<div class="container">
		<main class="row">
			
			<!--  *******   Left Section (Column) Starts   *******  -->

			<section class="col left">
				
				<!--  *******   Title Starts   *******  -->

				<div class="contactTitle">
					<a href="/"><h2>Get In Touch</h2></a>
					<p>"Discover lucrative affiliate programs and earn commissions by promoting top products and services. Join us today and start building your income stream."</p>
				</div>

				
				

				<!--  *******   Social Media Starts   *******  -->

				<div class="socialMedia">
					<a href="#"><i class="fa-brands fa-facebook-f"></i></a>
					<a href="#"><i class="fa-brands fa-twitter"></i></a>
					<a href="#"><i class="fa-brands fa-instagram"></i></a>
					<a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
				</div>
				<div class="iconGroup">
					<div class="icon">
						<a href="mailto:info@example.com" style="text-decoration: none; color: inherit;">
							<i class="fa-solid fa-envelope"></i>
						  </a>
						  
					
					</div>
				</div>

				<!--  *******   Social Media Ends   *******  -->

			</section>

			<!--  *******   Left Section (Column) Ends   *******  -->

			<!--  *******   Right Section (Column) Starts   *******  -->

			<section class="col right">
				
				<!--  *******   Form Starts   *******  -->

				<form method="post" action="https://qmap.adaintech.com/api/auth/message" class="messageForm">
					
					<div class="inputGroup halfWidth">
						<input type="text" name="fullname" id="fullname" required="required">
						<label>Your Name</label>
					</div>

					<div class="inputGroup halfWidth">
						<input type="email" name="email" id="email" required="required">
						<label>Email</label>
					</div>

					<div class="inputGroup fullWidth">
						<input type="text" name="subject" id="subject" required="required">
						<label>Subject</label>
					</div>

					<div class="inputGroup fullWidth">
						<textarea required="required" name="message" id="message"></textarea>
						<label>Say Something</label>
					</div>

					<div class="inputGroup fullWidth">
						<button type="submit">Send Message</button>
					</div>

				</form>

		

				<!--  *******   Form Ends   *******  -->
			</section>

			<!--  *******   Right Section (Column) Ends   *******  -->

		</main>
	</div>
</body>
</html>