

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Payment Receipt</title>
  <link rel="stylesheet" href="/css/reciept.css">
 
</head>
<body>
  <div class="receipt-container" id="receipt">
    <div class="logo">
      <img src="/images/logo.png" alt="">
      <p>ATWAP</p>
    </div>
    <h1>Payment Receipt</h1>
    <div class="info">
      <p><strong>Receipt ID:</strong> <br> 674ef3a888e5a0d0fb16b7c1</p>
      <p><strong>Name:</strong> <br> shazaniyu gbadamosi</p>
      <p><strong>Email:</strong> shazaniyu@gmail.com</p>
      <p><strong>Tax Type:</strong><br> Annual</p>
      <p><strong>Amount Paid:</strong> <br> ₦4000 </p>
      <p><strong>Payment Method:</strong> <br> USSD</p>
      <p><strong>Date:</strong> <br> 24 Nov Dec</p>
      <p><strong>Status</strong> <br> Success</p>
    </div>

    <p class="appricate">Thanks for your payment</p>
    <button onclick="window.print()">Print Receipt</button>
      <a href="https://atwap.vercel.app/api/auth/dashboard/6747d68b50c3395feec687b2"><button >Go Back To Homepage</button></a> 
  </div>

  <script>

  </script>
</body>
</html>

